<div class="panel">
    <div class="after-form">
        <div class="text-column">
            <h1>{{ Form.ThankYou.Title }}</h1>
            <div class="lead">
                {{ Form.ThankYou.Content|shortcodes }}
            </div>
            <a class="button" target="_blank" href="https://www.facebook.com/sharer.php?title={{ 'Odpovedzte Zuzane'|url_encode }}&description={{ 'Podporujem Zuzanu a chcem, aby minister Lajčák odpovedal na dôležité otázky, ktoré sa pýta.'|url_encode }}&u=http%3A%2F%2Fodpovedztezuzane.sk">Zazdieľaj na Facebooku</a>
            <a class="button" href="mailto:miroslav.lajcak@mzv.sk?subject=Odpovedzte Zuzane&body={{ c.EmailTemplate|url_encode }}">Pošli mail</a>
            <div class="mail-content">
                {{ c.EmailTemplate|nl2br }}
            </div>
        </div>
    </div>
</div>