{% set FormFields = Form.Fields|map('Name') %}

<div class="panel">
    <div class="prose">
        <div class="text-column no-margin">
            {% if Form.Errors %}
                <div class="errors">
                    <h2>Ups, ešte niečo chýba</h2>
                    {{ f.errors(Form) }}
                </div>
            {% else %}
                <h2>{{ Form.Title }}</h2>

                {{ Form.Content|shortcodes }}
            {% endif %}
        </div>
    </div>
    <div class="form-wrapper">
        {{ f.begin(Form, FormFields, { class: "support-form" }) }}
            <div class="email-field">
                {{ f.label(FormFields.Email) }}
                {{ f.input(FormFields.Email) }}
            </div>
            <div class="text-field">
                {{ f.label(FormFields.FirstName) }}
                {{ f.input(FormFields.FirstName) }}
            </div>
            <div class="text-field">
                {{ f.label(FormFields.LastName) }}
                {{ f.input(FormFields.LastName) }}
            </div>
            <div class="select-field">
                <label for="country">Krajina</label>
                <select name="cars">
                    <option value="slovakia" selected>Slovakia</option>
                    <option value="cesko">Cesko</option>
                    <option value="francuzsko">francuzsko</option>
                    <option value="nemecko">Nemecko</option>
                </select>
            </div>
            <div class="text-field">
                {{ f.label(FormFields.City) }}
                {{ f.input(FormFields.City) }}
            </div>
            <fieldset class="check-field">
                {{ f.input(FormFields.Hide) }}
                {{ f.label(FormFields.Hide) }}
            </fieldset>
            <div class="form-actions">
                {#Odoslaním formulára súhlasíte so spraovaním osobných údajov bla bla. Vo verejnom zozname bude zverejnené iba Vaše meno a priezvisko.#}

                {{ f.input(FormFields._submit, { class: 'button' } ) }}
            </div>
        {{ f.end() }}
    </div>
</div>