{% extends "layouts/Page.twig" %}
{% import 'macros/form.twig' as f %}

{% block header %}
    {#<div class="hero-area">#}
        {#<div class="hero-content">#}
            {#<div class="content-column">#}
                {#<h1>Podporujem Zuzanu</h1>#}
                {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nam reiciendis eos facere suscipit numquam laboriosam voluptates, cumque dolorem!</p>#}
                {#<a class="button" href="#">ACTION</a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    <div style="padding-top: 100px;"></div>
{% endblock %}

{% block content %}
    {% include 'components/Counter.twig' with { Counter: c.Counter } %}

    {% if not c.SupporterForm.IsSubmitted %}
        <section>
            <h2>
                {{ c.About.Title }}
            </h2>

            {{ c.About.Content|shortcodes }}
        </section>

        <section>
            <h2>
                {{ c.Questions.Title }}
            </h2>

            {{ c.Questions.Content|shortcodes }}

            {% for Question in c.Questions.Questions %}
                <h4>
                    {{ loop.index }}. {{ Question.Title }}
                </h4>

                {{ Question.Content|shortcodes }}
            {% endfor %}
        </section>
    {% endif %}

    {% include 'components/SupportForm.twig' with { Form: c.SupporterForm } %}
{% endblock %}