{% extends "layouts/Page.twig" %}
{% import 'macros/form.twig' as f %}

{% block header %}
    {% if not c.EmailConfirmation.IsInvoked %}
        {% if not c.SupporterForm.IsSubmitted %}
            <header class="hero-area">
                <div class="hero-content">
                    <div class="content-column">
                        <div class="counter">
                            <p></p>
                        </div>
                        <a class="button" href="#">Zisti viac!</a>
                    </div>
                </div>
            </header>
        {% else %}
            {% if not c.SupporterForm.IsSuccess %}
                <div style="padding-top: 50px;"></div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <main>
        {% if c.EmailConfirmation.IsInvoked %}
            {% include 'components/SupportFormConfirmation.twig' %}
        {% else %}
            {% if not c.SupporterForm.IsSubmitted %}
                {% include 'components/About.twig' %}
                {% include 'components/Questions.twig' %}
            {% endif %}

            {% if c.SupporterForm.IsSubmitted and c.SupporterForm.IsSuccess %}
                {% include 'components/SupportFormThankYou.twig' with { Form: c.SupporterForm }  %}
            {% else %}
                {% include 'components/SupportForm.twig' with { Form: c.SupporterForm } %}
            {% endif %}

            {% if not c.SupporterForm.IsSubmitted or c.SupporterForm.IsSuccess %}
                {% include 'components/Goals.twig' %}
            {% endif %}
        {% endif %}
    </main>
{% endblock %}

{% block js %}
    <script>
        $(function(){
            $(".counter p").typed({
                strings: [
                    "Do konca výzvy zostáva <strong>{{ c.Counter.Days }} {{ c.Counter.Days == 1 ? 'deň' : (c.Counter.Days < 5 ? 'dni' : 'dní') }}</strong>.",
                    {% if c.Counter.Supporters > 5000 %}"Už <strong>{{ c.Counter.Supporters }} ľudí</strong> podporilo Zuzanu.",{% endif %}
                    "Minister odpovedal na <strong>{{ c.Counter.Answers }} {{ c.Counter.Days == 1 ? 'otázku' : (c.Counter.Days < 5 ? 'otázky' : 'otázok') }}!</strong>"],
                typeSpeed: 0,
                loop: true,
                backDelay: 2000,
                backSpeed: -50
            });
        });
    </script>
{% endblock %}