{% extends "layouts/Page.twig" %}
{% import 'macros/form.twig' as f %}

{% block header %}
    {% if not c.EmailConfirmation.IsInvoked %}
        {% if not c.SupporterForm.IsSubmitted %}
            <header class="hero-area">
                <div class="hero-content">
                    <div class="content-column">
                        <div class="counter">
                            <p></p>
                        </div>
                        <a class="button" href="#{{ c.About.Hash }}">Zisti viac!</a>
                    </div>
                </div>
            </header>
        {% else %}
            {% if not c.SupporterForm.IsSuccess %}
                {#<div style="padding-top: 50px;"></div>#}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <main>
        {% if c.EmailConfirmation.IsInvoked %}
            {% include 'components/SupportFormConfirmation.twig' %}
        {% else %}
            {% if not c.SupporterForm.IsSubmitted %}
                {% include 'components/About.twig' %}
                {% include 'components/Questions.twig' %}
            {% endif %}

            {% if c.SupporterForm.IsSubmitted and c.SupporterForm.IsSuccess %}
                {% include 'components/SupportFormThankYou.twig' with { Form: c.SupporterForm }  %}
            {% else %}
                {% include 'components/SupportForm.twig' with { Form: c.SupporterForm } %}
            {% endif %}

            {% if not c.SupporterForm.IsSubmitted or c.SupporterForm.IsSuccess %}
                {% include 'components/Goals.twig' %}
            {% endif %}
        {% endif %}
    </main>
{% endblock %}

{% block js %}
    {% set DaysMessage = c.Counter.Days > 0 ? (c.Counter.Days ~ (c.Counter.Days == 1 ? ' deň' : (c.Counter.Days < 5 ? ' dni' : ' dní'))) : '' %}
    {% set HoursMessage =  c.Counter.Hours > 0 ? (c.Counter.Hours ~ (c.Counter.Hours == 1 ? ' hodina' : (c.Counter.Hours < 5 ? ' hodiny' : ' hodín'))) : '' %}

    <script>
        $(function(){
            $(".counter p").typed({
                strings: [
                    {% if DaysMessage or HoursMessage %}"Do konca výzvy zostáva <strong>{{ DaysMessage }}{{ DaysMessage and HoursMessage ? ' a ' : '' }}{{ HoursMessage }}</strong>.",{% endif %}
                    {% if c.Counter.Supporters > 5000 %}"Už <strong>{{ c.Counter.Supporters }} ľudí</strong> podporilo Zuzanu.",{% endif %}
                    "Minister odpovedal na <strong>{{ c.Counter.Answers }} {{ c.Counter.Days == 1 ? 'otázku' : (c.Counter.Days < 5 ? 'otázky' : 'otázok') }}!</strong>"],
                typeSpeed: 0,
                loop: true,
                backDelay: 2000,
                backSpeed: -50
            });
        });
    </script>
{% endblock %}